{% extends "shared/main.html" %}

{% block inhalt %}
  <div class="row">
    <div class="col-12 pt-3 d-flex justify-content-center">
    <div class="card text-white clipboard-card text-white bg-medium" style="width: 480px; max-width: 100%;">
      <div class="card-header">
        <h3 class="mb-0">
          Übung 1
        </h3>
      </div>
      <div class="card-body">
        Dies ist meine Bearbeitung des Übungsblattes 1 aus 35051+35061 Web und Datenbankenpraktikum<br/>
        Bitte <a href="../login">loggen</a> sie sich ein oder <a href="../register">registrieren</a> sie sich
        <img class="mx-auto d-block" src="../../static/img/om_transparent.svg" style="width: 300px; height: 300px; max-width: 100%;" />
      </div>
    </div>
  </div>

{% endblock %}