{% extends "shared/main.html" %}

{% block inhalt %}
  <div class="row">
    <div class="col-12 pt-3 d-flex justify-content-center">
      <div class="card bg-medium" style="width: 480px; max-width: 100%;">
        <div class="card-header">
          <h3 class="mb-0">
            Profil
          </h3>
        </div>
        <div class="card-body">
          <div class="alert alert-primary" role="alert">
            Hallo {{ customer.forename }} {{ customer.surname }}, sieh dir hier deine daten an
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Vorname</label>
            <label class="col-sm-8 col-form-label">{{ customer.forename }}</label>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Nachname</label>
            <label class="col-sm-8 col-form-label">{{ customer.surname }}</label>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Email</label>
            <label class="col-sm-8 col-form-label">{{ customer.email }}</label>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Passwort</label>
            <label class="col-sm-8 col-form-label">{{ customer.password }}</label>
          </div>
          <div class="row mb-3">
            <div class="col-sm-8 offset-sm-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       name="checkagb" {{ 'checked' if customer.is_agb else '' }} id="inputAgb" disabled>
                <label>
                  Ich akzeptiere die allgemeinen Geschäftsbedingungen
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-8 offset-sm-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       name="checknewsletter"  {{ 'checked' if customer.is_newsletter else '' }} id="inputNewsletter"
                       disabled>
                <label>
                  Ich möchte Informationen zu neuen Angeboten und Aktionen erhalten
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="btn btn-primary float-end text-white" role="button" href="../logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}